* {
    margin:0; /* take the white sides off to use all the viewport width and height */
    padding:0;
    border:0;
    box-sizing:border-box;
    overflow-x:hidden;
    scroll-behavior: unset;
}

.background {
    background-image: url(headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    width:auto;
    height:auto;
}