* {
    margin:0; /* take the white sides off to use all the viewport width and height */
    padding:0;
    border:0;
    box-sizing:border-box;
    overflow-x:hidden;
    scroll-behavior: unset;
}

@font-face {
    font-family: 'CustomFont1';
    src: url(SourceSansPro-Bold.otf);
}
@font-face {
    font-family: 'CustomFont2';
    src: url(SourceSansPro-Regular.otf);
}
@font-face {
    font-family: 'CustomFont3';
    src: url(SourceSansPro-Semibold.otf);
}

.clickable {
    font-family: "CustomFont1";
    font-size: 12px;
}

.bgg {
    background-image: url('./images/headphones_hero_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:scroll;
    width:auto;
    height:100vh;
}

.navigh {
    padding:10px;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.navigh>div {
    display:flex;
    flex-direction:column;
    gap:10px;
    /* border:2px solid red; */
}

div.navbar {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

#head_logo {
    margin-left:190px;
    margin-top:20px;
}

.clickable {
    margin-right: 200px;
    margin-top:45px;
}

.clickable ul {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    gap:15px;
}

.navigh>div>section {
    display:flex;
    /* border:2px solid red; */
    flex-direction:column;
    margin-bottom:105px;
    width:80%;
    /* height:auto; */
    align-self:center;
    gap:60px
}

.navigh>div>section>div {
    display:flex;
    flex-direction:column;
    /* border:2px solid red; */
    margin-bottom:50px;
    justify-content: space-between;
    /* padding:0 */
}

.first_section_child {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:55px;
    transform: translate(0, 23%)
}

button {
    color:white;
    font-weight:bolder;
}

.intro {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.about_us {
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items:center;
    padding: 95px;
    gap:55px;
    /* border:2px solid blue; */
}

.iconic>div {
    display:flex;
    /* flex-direction:row; */
    padding:60px 100px;
    gap: 10px;
    /* flex-wrap:wrap; */
    /* border:2px solid red; */
}

.iconic_container>div {
    margin:auto;
    /* border:2px solid blue; */
    width:100%;
    max-width:900px;
    height:auto;
    display:flex;
    flex-direction:row;
    align-items:center;
    /* justify-content:space-evenly; */
    flex-wrap:wrap;
    gap:20px;
    /* gap:20px; */
}

.iconic_symbols {
    display:flex;
    /* flex-shrink:1; */
    flex: 1 1 20%;
    /* height:auto; */
    /* border: 2px solid orange; */
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    width:auto;
    gap:8px;
    /* flex-wrap:wrap; */
}

.pentagon_image {
    /* display:block;  */
    width:250px; 
    height:auto; 
    max-width:100%;
}

form>div>h2 {
    font-weight: 800;
}

#call_action {
    color:white;
    font-weight:bolder;
}

.foot>section>div>img {
    width:180px; 
    height:auto;
}
.background2 {
    background-image: url('./images/headphones_hero_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    width:auto;
    height:auto;
}

.background2>div {
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    margin:auto;
    padding:100px;
    gap:90px;
}

.bg_pentagon {
    width:100%;
    max-width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    padding:10px 0;
    margin:0;
    box-sizing:border-box;
    /* border: 2px solid red; */
}

.bg_pentagon>div {
    /* border:2px solid blue; */
    gap:50px;
    /* object-fit:contain; */
    /* flex-shrink:1; */
}

.background2>div>.bg_pentagon>div>img {
    height:auto;
}

.bg_pentagon_child {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    padding:10px;
    width:1500px;
    flex-wrap:wrap;
    /* border: 2px solid red; */
}

.image-container {
    position:relative;
    display:inline-block;
    overflow-y:hidden;
}

.image-container>div {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    /* border: 2px solid white; */
    /* font-size: clamp(2px, 2vw, 24px); */
    /* white-space: normal; */
    max-width:100%;
    /* word-wrap: break-word; */
}

.main_form>form {
    padding:100px;
    width:auto;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    gap:50px;
}

.main_form>form>div {
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid red; */

}

.data_form  {
    width:100%;
    max-width: 420px;
    margin:0;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    gap:50px;
}

.data_form input  {
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}

input, textarea {
    width:95%;
    border: none;
    border-bottom: 1px solid #b8b7b7;
    padding:15px 0;
    font-size:16px
}

input::placeholder {
    color: black;
    opacity: 1;
    font-weight: bolder;
}

.main_form>form>button {
    background-color: #FF6565;
    border-radius:40px;
    padding:15px 35px;
    margin-top:20px;
}

.foot {
    background-color: #071629;
}

.foot>section>div {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    padding-top:100px;
    padding-bottom:100px;
    padding-left:100px;
    padding-right:100px;
}

.copy_right {
    align-self:center;
    transform: translate(-20%, 285%);
    color: #d9d9d9
}

.foot>section>div>div {
    border: 10px;
}

.foot_logo {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    gap:25px;
    /* transform: translate(0, -255%) */
    /* border: 2px solid red; */
}

@media (max-width: 787px) {
    .foot>section>div {
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
        margin:0px;
        gap:15px;
        align-items:center;
        /* border: 2px solid red; */
    }
    .copy_right {
        margin-top:35px;
    }

    .foot_logo {
        transform: translate(-15%,-80%)
    }

    .imgg {
        transform: translate(-13%,85%)
    }
}

@media (min-width:787px) and (max-width:950px) {
    .foot>section>div>div {
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-around;
        flex: 1 1 20%;
        /* border: 2px solid red; */
    }

    .copy_right {
        transform: translate(8.5%,275%)
    }
}

@media (max-width: 787px) {
    .iconic_container>div {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;
    }
}

@media (min-width: 787px)  {
    .specific {
        color: black;
    }
}