* {
    margin:0; /* take the white sides off use all the viewport width and height */
    padding:0;
    box-sizing:border-box;
}

.navig {
    display:flex;
    justify-content: space-between;
}

.ulli li {
    display:inline-flex;
    padding-right: 30px; /* relative to the unordered list container, not the navigation container */
}

.ulli li {
    color:red !important;
}

/* .smile_logo { */
    /* padding-left:150px; recommended to use padding for spacing */
    /* padding-top:40px; margin is best for spacing and separating neigboring elements  */
/* } */


header, #par {
    background-color: grey;
    background-image: url(girl_smilin.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
