body, main {
    display:flex; /* since we're applying flexbox properties to content inside body and main, they must be told that they're containers for flexible boxes*/
}

body {
    flex-direction:column;
}

main {
    flex-direction:row; /* since there're 2 boxes, they must be stacked horizontally(like column 1, column 2.....*/
    flex:auto;
}

article {
    flex:2;
    background-color: aqua;
}

aside {
    flex:1;
    color:brown;
    background-color: bisque;
    border: 1px;
}

article, aside {
    overflow-y: auto;
}